{
  "check_interval": 300,
  "channels": [
    {
      "id": "UCxxxxxxxxxxxxxxxxxxxxxx",
      "name": "配信者名",
      "webhooks": [
        {
          "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
          "mention": "@everyone"
        }
      ]
    }
  ],
  "notification": {
    "show_thumbnail": true,
    "color": 16711680,
    "include_end_notification": false
  },
  "log_level": "INFO"
}
